@model readit.Models.ForumModel

@{
    ViewData["Title"] = "Forum";
}

<h1>Forum: @Html.DisplayFor(model => model.Name)</h1>


<table class="table text-light">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>ForumId</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Topics != null)
        {
            @if (Model.Topics.Any())
            {
                @foreach (var item in Model.Topics)
                {
                    <tr>
                        <td><a id="underline" asp-controller="Topic" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
                        <td>@item.Description</td>
                        <td>@item.ForumModelId</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Topic" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                            <a asp-action="Delete" asp-controller="Topic" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
