@model readit.Models.ForumModel

@{
    ViewData["Title"] = "Forum";
}

<div>
    <a asp-controller="Forum" asp-action="Index"><h1 class="bi bi-arrow-left-circle"></h1></a>
    <h1>Forum: @Html.DisplayFor(model => model.Name)</h1>
</div>

<div class="mb-2 mt-4">
    <div class="row">
        <div class="col-9">
            <a asp-controller="Forum" asp-action="CreateTopic" asp-route-id="@Model.Id" class="btn btn-primary col-2">New Topic</a>
        </div>
        <form asp-controller="Forum" asp-action="Details" asp-route-id="@Context.Request.RouteValues["id"]" class="col-3 text-end">
            <div class="d-flex">
                <input type="text" name="name" placeholder="Name" class="form-control me-sm-1" />
                <button class="btn btn-dark"><i type="submit" class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
</div>

<table class="table text-light mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Number of Replies</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Topics != null)
        {
            @if (Model.Topics.Any())
            {
                @foreach (var item in Model.Topics)
                {
                    <tr>
                        <td><a id="underline" asp-controller="Topic" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
                        <td>@item.Description</td>
                        <td></td>
                        <td></td>
                        <td>
                            <form asp-controller="Topic" asp-action="Delete" asp-route-id="@item.Id">
                                <a asp-action="Edit" asp-controller="Topic" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                            </form>
                            @*<a class="del btn btn-danger" id="del">Delete</a>
                                <div class="confirm hidden">
                                <h1>Are you sure?</h1>
                                <form asp-controller="Topic" asp-action="Delete" asp-route-id="@item.Id">
                                <input type="submit" value="Yes" class="btn btn-danger" />
                                <a class="btn btn-secondary" id="no">No</a>
                                </form>
                                </div>*@
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<div class="overlay hidden"></div>

<script src="~/js/deleteItem.js"></script>