@model readit.Models.ForumModel

@{
    ViewData["Title"] = "Forum";
}
<a asp-action="Index" class="btn btn-info">Back to forums</a>
<h1>Forum: @Html.DisplayFor(model => model.Name)</h1>

<a asp-action="CreateTopic" asp-route-id="@Model.Id" class="btn btn-primary mb-2 mt-2">New Topic</a>

<table class="table text-light">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Topics != null)
        {
            @if (Model.Topics.Any())
            {
                @foreach (var item in Model.Topics)
                {
                    <tr>
                        <td><a id="underline" asp-controller="Topic" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
                        <td>@item.Description</td>
                        <td>
                            <form asp-action="Delete" asp-controller="Topic" asp-route-id="@item.Id">
                                <a asp-action="Edit" asp-controller="Topic" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

