@model IEnumerable<readit.Models.TopicModel>

<table class="table text-light">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               @*<td><a id="underline" asp-route-id="@item.Id" asp-controller="@item.Name" asp-action="Index">@Html.DisplayFor(modelItem => item.Name)</a></td>*@
                <td><a id="underline" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></td>
                <td>@item.Description</td>
                <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
